:root{
  --primary-color: purple;
}

body{
  font-size: 16px;
}

.navbar {
  background-color: #0b3b5e;
}

nav a:link,
nav i {
  color: white !important;
  text-decoration: none;
}

nav i {
  font-size:2rem;
}

.hero-banner {
  background-image: url("../images/code-944499_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative; /* contain the overlay */
}

.hero-banner * {
  z-index: 100;
}

.card-image {
  max-height: 200px;
  overflow: hidden;
}

.card a {
  display: block;
}

.card a:link,
.card-title,
.card-text {
  text-decoration: none;
  color: black;
}

.hero-banner .btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.5s;
}