
body{
  font-size: 16px;
}

.navbar {
  background-color: #0b3b5e;
}

nav a:link,
nav i {
  color: white !important;
}

nav i {
  font-size:2rem;
}

.hero-banner {
  background-image: url("../images/code-944499_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
}

